<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul class="nav_links">
            <li><a href="/"><h3>Term-Project</h3></a></li>
            {{!-- <li><a href="/">Home </a></li> --}}
        </ul>
        <a class="cta"> <button onclick="location.href = '/register'">Register</button> <button onclick="location.href = '/login'">Login</button> </a>

    </nav>