{{> header}}
<div class="home-bg">
    <img src="/images/login.jfif" alt="">
    <div class="home-text">
        <h1 style="color: #fff;">Login</h1>
    </div>
</div>
<div class="body">
    <form class="">
        <label for="">Username : </label>
        <input type="text" name="username" id="username" placeholder="Your Username">
        <label for="">Password : </label>
        <input type="password" name="password" id="password" placeholder="Password"><br>

        <button type="button" name="submit" id="loginBtn">Submit</button>
    </form>
</div>
{{> footer}}