{{> header}}
<div class="body">
    <h1>Login</h1>
    <form class="">
        <label for="">Username : </label>
        <input type="text" name="username" id="username" placeholder="Your Username">
        <label for="">Password : </label>
        <input type="password" name="password" id="username" placeholder="Password"><br>

        <button type="button" name="submit" id="loginBtn">Submit</button>
    </form>
</div>
{{> footer}}