{{> header}}
<div class="body">
    <h1>Post Image</h1>
    <form class="" id="postForm">
        <label for="">Post Title : </label>
        <input type="text" name="title" id="title" placeholder="Post Title"><br>
        <label for="">Post Description : </label>
        <input type="text" name="description" id="description" placeholder="Post Description"><br>
        <label for="">Input image : </label>
        <input type="file" name="postImage" id="postImage" accept="image/*" single >

        <button type="submit" name="button" id="postBtn">Post</button>
    </form>
</div>
{{> footer}}