{{> header}}
<div class="body">
    <h1>Post Image</h1>
    <form class="">
        <label for="">Post Title : </label>
        <input type="text" name="" value="" placeholder="Post Title"><br>
        <label for="">Post Description : </label>
        <input type="text" name="" value="" placeholder="Post Description"><br>
        <label for="">Input image : </label>
        <input type="file" name="" accept="image/*"><br>
        <div class="checbox">
            <label for=""><a href="#">Use Policy</a></label>
            <input type="checkbox" name="" value="">
        </div>
        <button type="button" name="button">Submit</button>


    </form>
</div>
{{> footer}}