{{> header}}
<div class="body">
    <h1>Post Image</h1>
    <form class="">
        <label for="">Post Title : </label>
        <input type="text" name="" id="title" placeholder="Post Title"><br>
        <label for="">Post Description : </label>
        <input type="text" name="" id="description" placeholder="Post Description"><br>
        <label for="">Input image : </label>
        <input type="file" name="" accept="image/*"><br>

        <button type="button" name="button" id="postBtn">Post</button>
    </form>
</div>
{{> footer}}