* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
ul {
	list-style: none;
}
li,
a,
button {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000 !important;
	text-decoration: none !important;
}
nav {
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: space-between;
	margin: 0 10%;
}
.navbar form{
    margin: auto 0;
}

.navbar .form-control{
    margin: 0;
    width: 400px;
}
.navbar form{
    position: relative;
    justify-content: center;
}
.search-result-wrap{
    position: relative;
}
.search-result-wrap .list-group{
    position: absolute;
    top: 40px;
    right: 10px;
    width: 400px;
    height: auto;
    background: #fff;
    color: rgb(14, 13, 13);
    z-index: 2;
    /* padding: 15px 20px; */
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    box-shadow: 0 0 10px #ccc;
}
.search-result-wrap .list-group .list-group-item{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.search-result-wrap .list-group .list-group-item img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
/* .navbar form .search-box{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    width: 400px;
    height: 200px;
    background: #fff;
    color: rgb(14, 13, 13);
    z-index: 2;
    padding: 15px 20px;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    box-shadow: 0 0 10px #ccc;
    display: none;
}
.navbar form .search-box .search-item{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.navbar form .search-box img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
} */
.navbar .btn{
    margin: 0 20px 0 0;
    height: 38px;
    width: inherit;
}
.navbar .btn:hover{
    color: #fff !important;
}
button {
	padding: 9px 25px;
	background-color: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	color: #fff;
	transition: all 0.3s ease 0s;
}
button:hover {
	background-color: rgba(58, 101, 112, 0.8);
}
.navbar-collapse {
	background: #fff;
	color: #000 !important;
	text-align: center;
    z-index: 2;
}
.navbar-nav .nav-link {
	color: #000 !important;
}
img {
	width: 100%;
	height: 100%;
}
/* login csss */
.body {
	margin: 40px auto;
	width: 400px;
}
form {
	margin-top: 10px;
}
form label {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}
form input {
	width: 100%;
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid #5065f6;
	box-shadow: 0px 0px 4px rgba(80, 101, 246, 0.25);
	border-radius: 4px;
	margin-bottom: 30px;
}
form button {
	width: 100%;
	border-radius: 4px;
	height: 48px;
	padding: 10px 15px;
	font-size: 18px;
	margin-top: 20px;
}
/* registration */
form .checbox {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row-reverse;
}
form .checbox input {
	height: 20px;
	width: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}
/* image post */
section {
	margin-top: 20px;
}
section p {
	font-size: 18px;
	line-height: 19px;
}

/* viewpost */
.view {
	margin-top: 20px;
	width: 400px;
}
.view p {
	font-size: 18px;
	line-height: 26px;
}
.view .author-img {
	width: 300px;
	height: 300px;
	margin-top: 20px;
	overflow: hidden;
}
img {
	object-fit: cover;
}

/* home */
.home {
	width: 80vw;
	margin: 60px auto;
}

.cards .card {
	width: 100% !important;
}
.cards .card img {
	width: 100%;
}
/* inner blog */
.blog-post {
	width: 500px;
	margin: 0 auto;
}
.blog-post img {
	width: 100%;
    margin-bottom: 20px;
}
.blog-post input {
	padding: 10px 15px;
	width: 100%;
	font-size: 16px;
	margin-top: 15px;
}
.blog-post button {
	margin-top: 20px;
}
.comment-section {
	width: 800px;
	margin: 30px auto 0;
	display: flex;
	border: 1px solid #000;
	padding: 10px;
}
.comment-section .cmnt-img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
.comment-section .cmnt-img img {
	border-radius: 50%;
	object-fit: cover;
}
.comment-section .cmnt {
	display: flex;
	flex-direction: column;
}
.comment-section .cmnt a {
	font-weight: bold;
	font-size: 18px;
}
/* footer */
footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto 10% 0;
}
footer li {
	margin: 5px 0;
}

/* media query */
